# 要忽略的資料夾
data/*.csv

# 編譯或暫存檔
*.log
*.tmp
*.bak
*.swp

# 系統檔案
.DS_Store
Thumbs.db

# IDE 設定
.idea/

# 虛擬環境
.venv/

# Python 常見暫存
__pycache__/
*.pyc

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# VSCode 設定檔
.vscode/

# 其他常見的備份檔
*.old
*.orig